:root {
    --main-font-color: rgb(149, 225, 211);
    --main-font-family: 'Montserrat', sans-serif, serif;
    --menu-hover-color: rgb(243, 129, 129);
    --section-first-title-font: 'Kaushan Script', cursive;
    --font-description: 'Roboto', sans-serif;
    --font-description-color: rgb(153, 153, 153);
    --diver-color: #f38181;
    --team-container-behind-color: rgb(149, 225, 211);
    --icon-backgrnd-color: rgb(252, 227, 138);
}